
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Welcome to Admin Panel</h1>
    <h2>Superusers:</h2>
    <ul>
        {% for user in superusers %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_superuser') }}">Add Superuser</a>

    <form action="{{ url_for('adminlogout') }}" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
